*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root 
{
  --bg-primary : hsl(300, 100%, 59%);
}


/* .heading
{
  display: flex;
  justify-content: center;
  margin: 30px;
}
#myBox
{
  margin: 0px 20px;
  height: 200px;
  width: 90%;
}
.btn
{
  display: flex;
  margin: 0 10px;
  border: none;
  /* outline: none; 
} */

.ctn
{
  color: black;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 0 20px;
  height: 100vh;

}
.active
{
color: rgb(255, 25, 4);
}